<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.EmployeeMapper">

    <insert id="insertEmployee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employee(name, age, position)
        VALUES(#{name}, #{age}, #{position})
    </insert>

    <delete id="deleteEmployeeById">
        DELETE FROM employee WHERE id = #{id}
    </delete>

    <update id="updateEmployee">
        UPDATE employee
        SET name=#{name}, age=#{age}, position=#{position}
        WHERE id = #{id}
    </update>

    <select id="selectEmployeeById" resultType="com.itheima.domain.Employee">
        SELECT * FROM employee WHERE id = #{id}
    </select>

    <select id="selectAllEmployees" resultType="com.itheima.domain.Employee">
        SELECT * FROM employee
    </select>
</mapper>